{% extends "base.html" %} {% load humanize %} {% load customfilter %} {% block pageContent %}

<section class="">
    {% if user.id %}
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-primary text-start summary-card my-3">
                <div class="card-body">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Total Categories</div>
                            <div class="summary-count text-end fw-bolder mt-3 px-4">{{ categories|intcomma }}</div>
                        </div>
                        <div class="col-4">
                            <div class="summary-icon p-3 rounded border text-center bg-gradient bg-light">
                                <i class="fa fa-list"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-warning text-start summary-card my-3">
                <div class="card-body">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Total Buses</div>
                            <div class="summary-count text-end fw-bolder mt-3 px-4">{{ products|intcomma }}</div>
                        </div>
                        <div class="col-4">
                            <div class="summary-icon p-3 rounded border text-center bg-gradient bg-light">
                                <i class="fa fa-bus fs-2"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-success text-start summary-card my-3">
                <div class="card-body">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Total Upcoming Trip</div>
                            <div class="summary-count text-end fw-bolder mt-3 px-4">{{ upcoming_trip|intcomma }}</div>
                        </div>
                        <div class="col-4">
                            <div class="summary-icon p-3 rounded border text-center bg-gradient bg-light">
                                <i class="fa fa-file-invoice fs-2"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="card card-default rounded-0 shadow border border-dark">
        <div class="card-body">
            <div class="container-fluid">
                <h2 class="text-center fw-bold">Welcome to Transit Link</h2>
                <hr>
                <p>
                    Transit Link is a user-friendly website that makes it easy to navigate public transportation options in your city. 
                    Whether you're a regular commuter or an occasional rider, Transit Link offers all the information you need to plan your trip, including route maps, schedules, and fare information.
                    <br> One of the great features of Transit Link is its real-time transit information. You can quickly check the status of your bus or train and get updates on any delays or service disruptions. 
                    This helps you stay on top of your travel plans and make adjustments as needed.
                    <br> Another benefit of using Transit Link is its accessibility options. The website provides information about wheelchair-accessible routes and stations, making it easier for people with disabilities to use public transportation. 
                    This is an important feature that helps promote inclusion and equity in public transportation.
                    <br> Transit Link is constantly updating its information and services to provide the best possible experience for users. 
                    Whether you're looking for information on new transit options, updates on service changes, or helpful tips for navigating your city's public transportation system, Transit Link is the go-to website for all your public navigator needs.
                </p>
            </div>
        </div>
    </div>
    {% endif %}
</section>


</div> {% endblock pageContent %}